.padreCo{
    height: 110vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
    
}
.com1{
    height: 35vh;
    width: 80%;
    background-color: rgb(136, 21, 37);
    color: white;
    

}
.come{
    height: 35vh;
    width: 100%;
}
@media (max-width: 800px) {
    
    .com1{
        height: 50vh;
    }
    .come{
        height: 15vh;

    }
}